.pessoa{
	color: red;
}
.pessoa[date-idade="44"]{
	color: blueviolet;
}
.pessoa::before{
	content: "Nome: " " ";
}
.pessoa::after{
	content:" " "Idade: "   attr(date-idade) " " "Anos" " - " "C.P.F: " " " attr(date-cpf);
}