.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

 }
.container-1{
 	 margin: 200px;
}
.container-flex{
 	display: flex;
   flex-direction: row;
}

.c1{
	background-color:#CD5C5C;
	padding: 60px;
	border-radius: 120px 300px 0px 270px;
}
.c2{
	background-color:#EEEE00;
	padding: 60px;
	border-radius: 300px 120px 270px 0px;
}
.c3{
	background-color:#00FF00;
	padding: 60px;
	border-radius: 270px 0px 300px 120px;
}
.c4{
	background-color:#4B0082;
	padding: 60px;
	border-radius: 0px 270px 120px 300px;
}
.n1{
	background-color:#CD5C5C;
	padding: 60px;
	border-radius: 150px 0px 0px 0px;
}
.n2{
	background-color:#EEEE00;
	padding: 60px;
	border-radius: 0px 150px 0px 0px;
}
.n3{
	background-color:#00FF00;
	padding: 60px;
	border-radius: 0px 0px 0px 150px;
}
.n4{
	background-color:#E0FFFF;
	padding: 60px;
	border-radius: 0px 0px 150px 0px;
}